$base: #263C97;
$blue: #16BCDC;
$yellow: #FCBE00;
$color : #fff;


#food{
    .bottom {
        .box {
            border: 1px solid rgb(223, 223, 223);
            border-radius: 20px;
            margin-bottom: 30px;
            .top {
                position: relative;

                img {
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;

                }

                .text {
                    position: absolute;
                    top: 7%;
                    left: 7%;
                    background-color: $yellow;
                    padding: 2px 7px;
                    font-size: 14px;
                }
            }
            .bottom{
                padding: 20px;
                h5{
                    font-weight: bold;
                    cursor: pointer;
                    transition: 0.3s ease-in-out;
                    &:hover{
                        color: $yellow;
                    }
                }
                .post{
                    font-size: 13px;
                    color: grey;
                    .user{
                        color: $yellow;
                        cursor: pointer;
                    }
                }
                .case{
                    line-height: 20px;
                    font-size: 14px;
                    padding-top: 15px;
                }
                .date{
                    color: grey;

                }
                
            }
        }

        .numbers{
            margin-left: 200px;
            margin-bottom: 80px;
            margin-top: 50px;
            .numberText{
                padding: 10px;
                border: 1px solid rgb(227, 227, 227);
                margin: 10px 10px 10px 10px;
                font-weight: bold;
                cursor: pointer;
                transition: 0.3s ease-in-out;
                background-color: rgb(241, 241, 241);
                &:hover{
                    background-color: $yellow;
                    color: white;
                }
            }
            .numberText1{
                padding: 10px;
                margin: 10px 10px 10px 10px;
                background-color: $yellow;
                color: white;
                border: 1px solid transparent;
                cursor: pointer;
                font-weight: bold;
            }
        }
    }
}